* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Regular';
  src: local("MavenProRegular"),
    url("./assets/fonts/MavenPro-Regular.ttf") format("truetype")
}

@font-face {
  font-family: 'Medium';
  src: local("MavenProMedium"),
    url("./assets/fonts/MavenPro-Medium.ttf") format("truetype")
}

@font-face {
  font-family: 'Bold';
  src: local("MavenProBold"),
    url("./assets/fonts/MavenPro-Bold.ttf") format("truetype")
}

body {
  color: #fff !important;
  background-color: #202020 !important ;
  font-family: "Regular";
}

/* Start of AppNavBar */

.navbar {
  background-color: #020907 !important;
}

.nav-logo {
  max-width: 50px !important;
}

.nav-text {
  font-family: "Bold";
  color: #fff !important;
}

.nav-text:hover {
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.nav-icon {
  border: 1px solid #5CDEE2;
  border-radius: 10px;
}

.nav-icon:hover {
  background-color: #5CDEE2;
}

/* End of AppNavBar */

/* Start of Banner */

.banner-row {
  min-height: 80vh;
}

.banner-t {
  color: #fff;
  text-decoration: none;
  font-family: "Bold";
  font-size: 60px;
}

.banner-p {
  font-family: "Regular";
  font-size: 13px;
}

.btn-about:hover span,
.btn-projects:hover span,
.btn-contact:hover span {
  display: none;
}

.btn-about:hover::before {
  content: "ABOUT ME";
  color: #fff;
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.btn-projects:hover::before {
  content: "MY PROJECTS";
  color: #fff;
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.btn-contact:hover::before {
  content: "CONTACT ME";
  color:#fff;
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.banner-me {
  max-height: 750px;
}

/* End of Banner */

/* Start of Projects */

.projects-t {
  font-family: "Medium";
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.projects-card {
  max-height: 410px;
  background: rgba(251, 251, 251, 0.13) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(2.4px) !important;
  border: 1px solid rgba(251, 251, 251, 0.39) !important;
}

.projects-card-img {
  max-height: 210px;
}

.projects-card-t {
  font-family: "Medium";
}

.projects-card-p {
  font-size: 14px;
}

.projects-col {
  min-height: 100% !important;
}

/* End of Projects */

/* Start of Contact */

/* .contact-form {
  background: rgba(251, 251, 251, 0.13) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(2.4px) !important;
  border: 1px solid rgba(251, 251, 251, 0.39) !important;
} */

.contact-t {
  font-family: "Medium";
  text-shadow:0 0 10px #5CDEE2,
              0 0 20px #5CDEE2,
              0 0 40px #5CDEE2,
              0 0 80px #5CDEE2,
              0 0 120px #5CDEE2,
              0 0 160px #5CDEE2;
}

.contact-i {
  background: rgba(251, 251, 251, 0.13) !important;
}

.contact-form-btn {
  min-width: 150px;
}

.contact-a {
  color: #fff;
  text-decoration: none;
}

/* End of Contact */

